.card-col {
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.card-img-frame {
    /* width: 150px;
    height: 150px; */
    overflow: hidden;
    position: relative;
}

.card-img-frame>.card-img {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.card-body>h5 {
    color: #0e469a;
}

.card-body>h6 {
    color: #1e6ce0;
}

.card-body>p {
    color: black;
}
